@model AutomatedQuestionPaper.Models.Staff
@{
    ViewBag.Title = $@"{Model.Name} (Staff) Home Page";
    Layout = "~/Areas/Staff/Views/Shared/_staffLoginLayoutPage.cshtml";
}

@if (TempData["SessionErrorMessage"] != null)
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SessionErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    ViewBag.Title = $@"{Model.Name} (Staff) Home Page";
    Layout = "~/Areas/Staff/Views/Shared/_staffLoginLayoutPage.cshtml";

    <br/>
    <h2>@Model.Name Management Panel</h2>

    <div style="text-align: center">
        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="180" src="~/Images/question.jpg" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Question")">Questions management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="180" src="~/Images/chapter.jpg" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Chapter")">Chapter management</a>
            </div>
        </div>

        <div class="card " style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="180" src="~/Images/question paper.jpg" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "PaperCreation")">Question Paper creation</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="180" src="~/Images/question paper repository.jpg" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "QuestionPaperRepository")">Question Paper repository</a>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function() {
            $(".card").css('transition', '0.2s');

            $(".card").hover(
                function() {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                },
                function() {
                    $(this).removeClass('shadow-lg');
                }
            );
        });
    </script>
}