@using AutomatedQuestionPaper.Areas.Staff.Models
@{
    /**/

    ViewBag.Title = "Tentative created question paper";
    Layout = "~/Areas/Staff/Views/Shared/_staffLoginNavigation.cshtml";
}


<h3>Tentative created question paper</h3>

<div class="container">
    <h3>Tentative created question paper</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width="100"></th>
                <th scope="col" width="80"></th>
                <th scope="col" width="1000"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Q1</th>
                <td>A</td>
                <td>
                    <select id="Question1A" name="Question1A" class="form-control">
                        @{
                            var firstA = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in firstA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question1AError" name="Question1AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question1B" name="Question1B" class="form-control">
                        @{
                            var firstB = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in firstB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question1BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>
                <th scope="row">Q2</th>
                <td>A</td>
                <td>
                    <select id="Question2A" name="Question2A" class="form-control">
                        @{
                            var secondA = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in secondA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question2AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question2B" name="Question2B" class="form-control">
                        @{
                            var secondB = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in secondB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question2BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Q3</th>
                <td>A</td>
                <td>
                    <select id="Question3A" name="Question3A" class="form-control">
                        @{
                            var thirdA = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in thirdA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question3AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question3B" name="Question3B" class="form-control">
                        @{
                            var thirdB = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in thirdB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question3BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Q4</th>
                <td>A</td>
                <td>
                    <select id="Question4A" name="Question4A" class="form-control">
                        @{
                            var fourthA = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in fourthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question4AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question4B" name="Question4B" class="form-control">
                        @{
                            var fourthB = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in fourthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question4BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Q5</th>
                <td>A</td>
                <td>
                    <select id="Question5A" name="Question5A" class="form-control">
                        @{
                            var fifthA = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in fifthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question5AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question5B" name="Question5B" class="form-control">
                        @{
                            var fifthB = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in fifthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question5BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>

            <tr>
                <th scope="row">Q6</th>
                <td>A</td>
                <td>
                    <select id="Question6A" name="Question6A" class="form-control">
                        @{
                            var sixthA = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in sixthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question6AError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question6B" name="Question6B" class="form-control">
                        @{
                            var sixthB = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in sixthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                    <span id="Question6BError" class="field-validation-valid text-danger">Question repeated</span>
                </td>
            </tr>
        </tbody>
    </table>

    <br />

    <button id="nextButton" name="nextButton" class="btn btn-block btn-outline-secondary" href="@Url.Action("ValidateQuestionPaper", "PaperCreation")">Next</button>
    <br />
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {

            $('span.field-validation-valid.text-danger').hide();

            $("table").css("border-collapse", "separate");
            $("table").css("border-spacing", "0 1em");


            $('#Question1A option')[0].selected = true;
            $('#Question1B option')[1].selected = true;

            $('#Question2A option')[2].selected = true;
            $('#Question2B option')[3].selected = true;

            $('#Question3A option')[0].selected = true;
            $('#Question3B option')[1].selected = true;

            $('#Question4A option')[2].selected = true;
            $('#Question4B option')[3].selected = true;

            $('#Question5A option')[0].selected = true;
            $('#Question5B option')[1].selected = true;

            $('#Question6A option')[2].selected = true;
            $('#Question6B option')[3].selected = true;


            $("#Question1A").change(function () {
                if ($("#Question1A option:selected").text() === $("#Question1B option:selected").text()) {
                    $("span#Question1AError").show();
                    $("span#Question1BError").show();
                    $("select#Question1A").css("border-color", "red");
                    $("select#Question1B").css("border-color", "red");
                } else {
                    $("select#Question1A").css("border-color", "");
                    $("select#Question1B").css("border-color", "");
                    $("span#Question1AError").hide();
                    $("span#Question1BError").hide();
                }

                if ($("#Question1A option:selected").text() === $("#Question2A option:selected").text()) {
                    $("span#Question1AError").show();
                    $("span#Question2AError").show();
                    $("select#Question1A").css("border-color", "red");
                    $("select#Question2A").css("border-color", "red");
                } else {
                    $("select#Question1A").css("border-color", "");
                    $("select#Question2A").css("border-color", "");
                    $("span#Question1AError").hide();
                    $("span#Question2AError").hide();
                }

                if ($("#Question1A option:selected").text() === $("#Question2B option:selected").text()) {
                    $("span#Question1AError").show();
                    $("span#Question2BError").show();
                    $("select#Question1A").css("border-color", "red");
                    $("select#Question2B").css("border-color", "red");
                } else {
                    $("select#Question1A").css("border-color", "");
                    $("select#Question2B").css("border-color", "");
                    $("span#Question1AError").hide();
                    $("span#Question2BError").hide();
                }
            });

            $("#Question1B").change(function () {
                if ($("#Question1B option:selected").text() === $("#Question1A option:selected").text()) {
                    $("span#Question1AError").show();
                    $("span#Question1BError").show();
                    $("select#Question1A").css("border-color", "red");
                    $("select#Question1B").css("border-color", "red");
                } else {
                    $("select#Question1A").css("border-color", "");
                    $("select#Question1B").css("border-color", "");
                    $("span#Question1AError").hide();
                    $("span#Question1BError").hide();
                }

                if ($("#Question1B option:selected").text() === $("#Question2A option:selected").text()) {
                    $("span#Question1BError").show();
                    $("span#Question2AError").show();
                    $("select#Question1B").css("border-color", "red");
                    $("select#Question2A").css("border-color", "red");
                } else {
                    $("select#Question1B").css("border-color", "");
                    $("select#Question2A").css("border-color", "");
                    $("span#Question1BError").hide();
                    $("span#Question2AError").hide();
                }

                if ($("#Question1B option:selected").text() === $("#Question2B option:selected").text()) {
                    $("span#Question1BError").show();
                    $("span#Question2BError").show();
                    $("select#Question1B").css("border-color", "red");
                    $("select#Question2B").css("border-color", "red");
                } else {
                    $("select#Question1B").css("border-color", "");
                    $("select#Question2B").css("border-color", "");
                    $("span#Question1BError").hide();
                    $("span#Question2BError").hide();
                }
            });

            $("#Question2A").change(function () {
                if ($("#Question2A option:selected").text() === $("#Question1A option:selected").text()) {
                    $("span#Question2AError").show();
                    $("span#Question1AError").show();
                    $("select#Question2A").css("border-color", "red");
                    $("select#Question1A").css("border-color", "red");
                } else {
                    $("select#Question2A").css("border-color", "");
                    $("select#Question1A").css("border-color", "");
                    $("span#Question2AError").hide();
                    $("span#Question1AError").hide();
                }

                if ($("#Question2A option:selected").text() === $("#Question1B option:selected").text()) {
                    $("span#Question1BError").show();
                    $("span#Question2AError").show();
                    $("select#Question1B").css("border-color", "red");
                    $("select#Question2A").css("border-color", "red");
                } else {
                    $("select#Question1B").css("border-color", "");
                    $("select#Question2A").css("border-color", "");
                    $("span#Question1BError").hide();
                    $("span#Question2AError").hide();
                }

                if ($("#Question2A option:selected").text() === $("#Question2B option:selected").text()) {
                    $("span#Question2AError").show();
                    $("span#Question2BError").show();
                    $("select#Question2A").css("border-color", "red");
                    $("select#Question2B").css("border-color", "red");
                } else {
                    $("select#Question2A").css("border-color", "");
                    $("select#Question2B").css("border-color", "");
                    $("span#Question2AError").hide();
                    $("span#Question2BError").hide();
                }
            });

            $("#Question2B").change(function () {
                if ($("#Question2B option:selected").text() === $("#Question1A option:selected").text()) {
                    $("span#Question2BError").show();
                    $("span#Question1AError").show();
                    $("select#Question2B").css("border-color", "red");
                    $("select#Question1A").css("border-color", "red");
                } else {
                    $("select#Question2B").css("border-color", "");
                    $("select#Question1A").css("border-color", "");
                    $("span#Question2BError").hide();
                    $("span#Question1AError").hide();
                }

                if ($("#Question2B option:selected").text() === $("#Question1B option:selected").text()) {
                    $("span#Question1BError").show();
                    $("span#Question2BError").show();
                    $("select#Question1B").css("border-color", "red");
                    $("select#Question2B").css("border-color", "red");
                } else {
                    $("select#Question1B").css("border-color", "");
                    $("select#Question2B").css("border-color", "");
                    $("span#Question1BError").hide();
                    $("span#Question2BError").hide();
                }

                if ($("#Question2B option:selected").text() === $("#Question2A option:selected").text()) {
                    $("span#Question2AError").show();
                    $("span#Question2BError").show();
                    $("select#Question2A").css("border-color", "red");
                    $("select#Question2B").css("border-color", "red");
                } else {
                    $("select#Question2A").css("border-color", "");
                    $("select#Question2B").css("border-color", "");
                    $("span#Question2AError").hide();
                    $("span#Question2BError").hide();
                }
            });

            $("#Question3A").change(function () {
                if ($("#Question3A option:selected").text() === $("#Question3B option:selected").text()) {
                    $("span#Question3AError").show();
                    $("span#Question3BError").show();
                    $("select#Question3A").css("border-color", "red");
                    $("select#Question3B").css("border-color", "red");
                } else {
                    $("select#Question3A").css("border-color", "");
                    $("select#Question3B").css("border-color", "");
                    $("span#Question3AError").hide();
                    $("span#Question3BError").hide();
                }

                if ($("#Question3A option:selected").text() === $("#Question4A option:selected").text()) {
                    $("span#Question3AError").show();
                    $("span#Question4AError").show();
                    $("select#Question3A").css("border-color", "red");
                    $("select#Question4A").css("border-color", "red");
                } else {
                    $("select#Question3A").css("border-color", "");
                    $("select#Question4A").css("border-color", "");
                    $("span#Question3AError").hide();
                    $("span#Question4AError").hide();
                }

                if ($("#Question3A option:selected").text() === $("#Question4B option:selected").text()) {
                    $("span#Question3AError").show();
                    $("span#Question4BError").show();
                    $("select#Question3A").css("border-color", "red");
                    $("select#Question4B").css("border-color", "red");
                } else {
                    $("select#Question3A").css("border-color", "");
                    $("select#Question4B").css("border-color", "");
                    $("span#Question3AError").hide();
                    $("span#Question4BError").hide();
                }
            });

            $("#Question3B").change(function () {
                if ($("#Question3B option:selected").text() === $("#Question4A option:selected").text()) {
                    $("span#Question3BError").show();
                    $("span#Question4AError").show();
                    $("select#Question3B").css("border-color", "red");
                    $("select#Question4A").css("border-color", "red");
                } else {
                    $("select#Question4A").css("border-color", "");
                    $("select#Question3B").css("border-color", "");
                    $("span#Question4AError").hide();
                    $("span#Question3BError").hide();
                }

                if ($("#Question3B option:selected").text() === $("#Question3A option:selected").text()) {
                    $("span#Question3BError").show();
                    $("span#Question3AError").show();
                    $("select#Question3B").css("border-color", "red");
                    $("select#Question3A").css("border-color", "red");
                } else {
                    $("select#Question3B").css("border-color", "");
                    $("select#Question3A").css("border-color", "");
                    $("span#Question3BError").hide();
                    $("span#Question3AError").hide();
                }

                if ($("#Question3B option:selected").text() === $("#Question4B option:selected").text()) {
                    $("span#Question3BError").show();
                    $("span#Question4BError").show();
                    $("select#Question3B").css("border-color", "red");
                    $("select#Question4B").css("border-color", "red");
                } else {
                    $("select#Question3B").css("border-color", "");
                    $("select#Question4B").css("border-color", "");
                    $("span#Question3BError").hide();
                    $("span#Question4BError").hide();
                }
            });

            $("#Question4A").change(function () {
                if ($("#Question4A option:selected").text() === $("#Question3A option:selected").text()) {
                    $("span#Question3AError").show();
                    $("span#Question3AError").show();
                    $("select#Question4A").css("border-color", "red");
                    $("select#Question3A").css("border-color", "red");
                } else {
                    $("select#Question4A").css("border-color", "");
                    $("select#Question3A").css("border-color", "");
                    $("span#Question3AError").hide();
                    $("span#Question4AError").hide();
                }

                if ($("#Question4A option:selected").text() === $("#Question3B option:selected").text()) {
                    $("span#Question3BError").show();
                    $("span#Question4AError").show();
                    $("select#Question3B").css("border-color", "red");
                    $("select#Question4A").css("border-color", "red");
                } else {
                    $("select#Question3B").css("border-color", "");
                    $("select#Question4A").css("border-color", "");
                    $("span#Question3BError").hide();
                    $("span#Question4AError").hide();
                }

                if ($("#Question4A option:selected").text() === $("#Question4B option:selected").text()) {
                    $("span#Question4AError").show();
                    $("span#Question4BError").show();
                    $("select#Question4A").css("border-color", "red");
                    $("select#Question4B").css("border-color", "red");
                } else {
                    $("select#Question4A").css("border-color", "");
                    $("select#Question4B").css("border-color", "");
                    $("span#Question4AError").hide();
                    $("span#Question4BError").hide();
                }
            });

            $("#Question4B").change(function () {
                if ($("#Question4B option:selected").text() === $("#Question3A option:selected").text()) {
                    $("span#Question4BError").show();
                    $("span#Question3AError").show();
                    $("select#Question4B").css("border-color", "red");
                    $("select#Question3A").css("border-color", "red");
                } else {
                    $("select#Question4B").css("border-color", "");
                    $("select#Question3A").css("border-color", "");
                    $("span#Question4BError").hide();
                    $("span#Question3AError").hide();
                }

                if ($("#Question4B option:selected").text() === $("#Question3B option:selected").text()) {
                    $("span#Question4BError").show();
                    $("span#Question3BError").show();
                    $("select#Question4B").css("border-color", "red");
                    $("select#Question3B").css("border-color", "red");
                } else {
                    $("select#Question4B").css("border-color", "");
                    $("select#Question3B").css("border-color", "");
                    $("span#Question4BError").hide();
                    $("span#Question3BError").hide();
                }

                if ($("#Question4B option:selected").text() === $("#Question4A option:selected").text()) {
                    $("span#Question4AError").show();
                    $("span#Question4BError").show();
                    $("select#Question4A").css("border-color", "red");
                    $("select#Question4B").css("border-color", "red");
                } else {
                    $("select#Question4A").css("border-color", "");
                    $("select#Question4B").css("border-color", "");
                    $("span#Question4AError").hide();
                    $("span#Question4BError").hide();
                }
            });

            $("#Question5A").change(function () {
                if ($("#Question5A option:selected").text() === $("#Question5B option:selected").text()) {
                    $("span#Question5AError").show();
                    $("span#Question5BError").show();
                    $("select#Question5A").css("border-color", "red");
                    $("select#Question5B").css("border-color", "red");
                } else {
                    $("select#Question5A").css("border-color", "");
                    $("select#Question5B").css("border-color", "");
                    $("span#Question5AError").hide();
                    $("span#Question5BError").hide();
                }

                if ($("#Question5A option:selected").text() === $("#Question6A option:selected").text()) {
                    $("span#Question5AError").show();
                    $("span#Question6AError").show();
                    $("select#Question5A").css("border-color", "red");
                    $("select#Question6A").css("border-color", "red");
                } else {
                    $("select#Question5A").css("border-color", "");
                    $("select#Question6A").css("border-color", "");
                    $("span#Question5AError").hide();
                    $("span#Question6AError").hide();
                }

                if ($("#Question5A option:selected").text() === $("#Question6B option:selected").text()) {
                    $("span#Question5AError").show();
                    $("span#Question6BError").show();
                    $("select#Question5A").css("border-color", "red");
                    $("select#Question6B").css("border-color", "red");
                } else {
                    $("select#Question5A").css("border-color", "");
                    $("select#Question6B").css("border-color", "");
                    $("span#Question5AError").hide();
                    $("span#Question6BError").hide();
                }
            });

            $("#Question5B").change(function () {
                if ($("#Question5B option:selected").text() === $("#Question5A option:selected").text()) {
                    $("span#Question5BError").show();
                    $("span#Question5AError").show();
                    $("select#Question5B").css("border-color", "red");
                    $("select#Question5A").css("border-color", "red");
                } else {
                    $("select#Question5A").css("border-color", "");
                    $("select#Question5B").css("border-color", "");
                    $("span#Question5AError").hide();
                    $("span#Question5BError").hide();
                }

                if ($("#Question5B option:selected").text() === $("#Question6A option:selected").text()) {
                    $("span#Question5BError").show();
                    $("span#Question6AError").show();
                    $("select#Question5B").css("border-color", "red");
                    $("select#Question6A").css("border-color", "red");
                } else {
                    $("select#Question5B").css("border-color", "");
                    $("select#Question6A").css("border-color", "");
                    $("span#Question5BError").hide();
                    $("span#Question6AError").hide();
                }

                if ($("#Question5B option:selected").text() === $("#Question6B option:selected").text()) {
                    $("span#Question5BError").show();
                    $("span#Question6BError").show();
                    $("select#Question5B").css("border-color", "red");
                    $("select#Question6B").css("border-color", "red");
                } else {
                    $("select#Question5B").css("border-color", "");
                    $("select#Question6B").css("border-color", "");
                    $("span#Question5BError").hide();
                    $("span#Question6BError").hide();
                }
            });

            $("#Question6A").change(function () {
                if ($("#Question6A option:selected").text() === $("#Question5A option:selected").text()) {
                    $("span#Question6AError").show();
                    $("span#Question5AError").show();
                    $("select#Question6A").css("border-color", "red");
                    $("select#Question5A").css("border-color", "red");
                } else {
                    $("select#Question6A").css("border-color", "");
                    $("select#Question5A").css("border-color", "");
                    $("span#Question6AError").hide();
                    $("span#Question5AError").hide();
                }

                if ($("#Question6A option:selected").text() === $("#Question5B option:selected").text()) {
                    $("span#Question5BError").show();
                    $("span#Question6AError").show();
                    $("select#Question5B").css("border-color", "red");
                    $("select#Question6A").css("border-color", "red");
                } else {
                    $("select#Question5B").css("border-color", "");
                    $("select#Question6A").css("border-color", "");
                    $("span#Question5BError").hide();
                    $("span#Question6AError").hide();
                }

                if ($("#Question6A option:selected").text() === $("#Question6B option:selected").text()) {
                    $("span#Question6AError").show();
                    $("span#Question6BError").show();
                    $("select#Question6A").css("border-color", "red");
                    $("select#Question6B").css("border-color", "red");
                } else {
                    $("select#Question6A").css("border-color", "");
                    $("select#Question6B").css("border-color", "");
                    $("span#Question6AError").hide();
                    $("span#Question6BError").hide();
                }
            });

            $("#Question6B").change(function () {
                if ($("#Question6B option:selected").text() === $("#Question5A option:selected").text()) {
                    $("span#Question6BError").show();
                    $("span#Question5AError").show();
                    $("select#Question6B").css("border-color", "red");
                    $("select#Question5A").css("border-color", "red");
                } else {
                    $("select#Question6B").css("border-color", "");
                    $("select#Question5A").css("border-color", "");
                    $("span#Question6BError").hide();
                    $("span#Question5AError").hide();
                }

                if ($("#Question6B option:selected").text() === $("#Question5B option:selected").text()) {
                    $("span#Question6BError").show();
                    $("span#Question5BError").show();
                    $("select#Question6B").css("border-color", "red");
                    $("select#Question5B").css("border-color", "red");
                } else {
                    $("select#Question6B").css("border-color", "");
                    $("select#Question5B").css("border-color", "");
                    $("span#Question6BError").hide();
                    $("span#Question5BError").hide();
                }

                if ($("#Question6B option:selected").text() === $("#Question6A option:selected").text()) {
                    $("span#Question6AError").show();
                    $("span#Question6BError").show();
                    $("select#Question6A").css("border-color", "red");
                    $("select#Question6B").css("border-color", "red");
                } else {
                    $("select#Question6A").css("border-color", "");
                    $("select#Question6B").css("border-color", "");
                    $("span#Question6AError").hide();
                    $("span#Question6BError").hide();
                }
            });
            
            $("#nextButton").click(function () {
                if ($("#Question1AError").is(":visible") === false &&
                    $("#Question1BError").is(":visible") === false &&
                    $("#Question2AError").is(":visible") === false &&
                    $("#Question2BError").is(":visible") === false &&
                    $("#Question3AError").is(":visible") === false &&
                    $("#Question3BError").is(":visible") === false &&
                    $("#Question4AError").is(":visible") === false &&
                    $("#Question4BError").is(":visible") === false &&
                    $("#Question5AError").is(":visible") === false &&
                    $("#Question5BError").is(":visible") === false &&
                    $("#Question6AError").is(":visible") === false &&
                    $("#Question6BError").is(":visible") === false) {


                    var Question1A = $("#Question1A :selected").text();
                    var Question1B = $("#Question1B :selected").text();
                    var Question2A = $("#Question2A :selected").text();
                    var Question2B = $("#Question2B :selected").text();
                    var Question3A = $("#Question3A :selected").text();
                    var Question3B = $("#Question3B :selected").text();
                    var Question4A = $("#Question4A :selected").text();
                    var Question4B = $("#Question4B :selected").text();
                    var Question5A = $("#Question5A :selected").text();
                    var Question5B = $("#Question5B :selected").text();
                    var Question6A = $("#Question6A :selected").text();
                    var Question6B = $("#Question6B :selected").text();

                    var paperName = prompt("Enter question paper name", "In-sem question paper");

                    var questions = [
                        Question1A,
                        Question1B,
                        Question2A,
                        Question2B,
                        Question3A,
                        Question3B,
                        Question4A,
                        Question4B,
                        Question5A,
                        Question5B,
                        Question6A,
                        Question6B,
                        paperName
                    ];

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ValidateQuestionPaper")',
                        contentType: 'application/json',
                        data: JSON.stringify(questions),
                        success: function (response) {
                            alert(
                                "Question paper created successfully. You will be redirected to question paper repository");
                            window.location.href = '@Url.Action("Index","QuestionPaperRepository")';
                        }
                    });

                } else {
                    alert("Some questions are repeating. Please check again.");
                }
            });
        });
    </script>
}