@using AutomatedQuestionPaper.Areas.Staff.Models
@{
    ViewBag.Title = "Tentative created question paper";
    Layout = "~/Areas/Staff/Views/Shared/_staffLoginLayoutPage.cshtml";
}


<h3>Tentative created question paper</h3>



<div class="container">
    <h3>Tentative created question paper</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width="100"></th>
                <th scope="col" width="80"></th>
                <th scope="col" width="1000"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Q1</th>
                <td>A</td>
                <td>
                    <select id="Question1A" name="Question1A" class="form-control">
                        @{
                            var firstA = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in firstA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question1B" name="Question1B" class="form-control">
                        @{
                            var firstB = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in firstB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>
                <th scope="row">Q2</th>
                <td>A</td>
                <td>
                    <select id="Question2A" name="Question2A" class="form-control">
                        @{
                            var secondA = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in secondA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question2B" name="Question2B" class="form-control">
                        @{
                            var secondB = (List<PaperCreationQuestionFormat>)ViewData["Question1And2"];

                            foreach (var item in secondB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Q3</th>
                <td>A</td>
                <td>
                    <select id="Question3A" name="Question3A" class="form-control">
                        @{
                            var thirdA = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in thirdA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question3B" name="Question3B" class="form-control">
                        @{
                            var thirdB = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in thirdB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Q4</th>
                <td>A</td>
                <td>
                    <select id="Question4A" name="Question4A" class="form-control">
                        @{
                            var fourthA = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in fourthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question4B" name="Question4B" class="form-control">
                        @{
                            var fourthB = (List<PaperCreationQuestionFormat>)ViewData["Question3And4"];

                            foreach (var item in fourthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">Q5</th>
                <td>A</td>
                <td>
                    <select id="Question5A" name="Question5A" class="form-control">
                        @{
                            var fifthA = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in fifthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question5B" name="Question5B" class="form-control">
                        @{
                            var fifthB = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in fifthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <h6 style="text-align: center">OR</h6>
                </td>
            </tr>
            <tr>

            <tr>
                <th scope="row">Q6</th>
                <td>A</td>
                <td>
                    <select id="Question6A" name="Question6A" class="form-control">
                        @{
                            var sixthA = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in sixthA)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>B</td>
                <td>
                    <select id="Question6B" name="Question6B" class="form-control">
                        @{
                            var sixthB = (List<PaperCreationQuestionFormat>)ViewData["Question5And6"];

                            foreach (var item in sixthB)
                            {
                                <option>@item.Question</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {


            $("table").css("border-collapse", "separate");
            $("table").css("border-spacing", "0 1em");


            $('#Question1A option')[0].selected = true;
            $('#Question1B option')[1].selected = true;

            $('#Question2A option')[2].selected = true;
            $('#Question2B option')[3].selected = true;

            $('#Question3A option')[0].selected = true;
            $('#Question3B option')[1].selected = true;

            $('#Question4A option')[2].selected = true;
            $('#Question4B option')[3].selected = true;

            $('#Question5A option')[0].selected = true;
            $('#Question5B option')[1].selected = true;

            $('#Question6A option')[2].selected = true;
            $('#Question6B option')[3].selected = true;

        });
    </script>
}