@model AutomatedQuestionPaper.Models.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginNavigation.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Department</h4>
    <div class="">

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.DepartmentName, new { @class = "col-md-2" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col">
                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            
            <div class="col-md-10">
                
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}