@model AutomatedQuestionPaper.Models.Admin

<br />

@if (TempData["SessionErrorMessage"] != null)
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SessionErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginLayoutPage.cshtml";

    <h2>@Model.Username Management Panel</h2>

    <div style="text-align: center">
        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="200" width="100" src="~/Images/staff management.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Staff")">Staff Management</a>
            </div>
        </div>

        <div class="card " style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="200" width="100" src="~/Images/department.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Department")">Department management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="200" src="~/Images/course.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Course")">Course Management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="200" src="~/Images/semester.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Semester")">Semester Management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" height="200" src="~/Images/semester.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "StaffCourseManagement")">Staff course Management</a>
            </div>
        </div>

    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            $(".card").css('transition', '0.2s');

            $( ".card" ).hover(
                function() {
                    $(this).addClass('shadow-lg').css('cursor', 'pointer');
                }, function() {
                    $(this).removeClass('shadow-lg');
                }
            );
        });
    </script>
}