@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AutomatedQuestionPaper.Models.Admin

<br />

@if (ViewBag.SessionErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.SessionErrorMessage
        @ViewBag.SessionErrorMessage = null;
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
else
{
    <h2>Hello @Model.Username</h2>


    <div>
        <h3>Management Panel</h3>
        <a class="btn btn-dark m-1" href="@Url.Action("Index","Staff")">Staff Management</a>
        <a class="btn btn-primary m-1 " href="#">Course Teacher allocation </a>
        <a class="btn btn-secondary m-1" href="@Url.Action("Index","Department")">Department management</a>
        <a class="btn btn-info m-1" href="@Url.Action("Index","Course")">Course Management</a>
        <a class="btn btn-info m-1" href="@Url.Action("Index","Semester")">Semester Management</a>
    </div>
}