@model AutomatedQuestionPaper.Models.Admin

<br/>

@if (TempData["SessionErrorMessage"] != null)
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["SessionErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginLayoutPage.cshtml";

    <h2>@Model.Username Management Panel</h2>

    <div>
        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/staff management.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Staff")">Staff Management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/course teacher.svg" alt="Card image cap">
            <div class="card-body">
                <br/>
                <a class="card-title" href="#">Course Teacher allocation </a>
            </div>
        </div>

        <div class="card " style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/department.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Department")">Department management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/course.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Course")">Course Management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/semester.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "Semester")">Semester Management</a>
            </div>
        </div>

        <div class="card" style="float: left; height: 285px; margin: 10px; width: 12rem;">
            <img class="card-img-top" src="~/Images/semester.png" alt="Card image cap">
            <div class="card-body">
                <a class="card-title" href="@Url.Action("Index", "StaffCourseManagement")">Staff course Management</a>
            </div>
        </div>

    </div>
}