<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    <script src="~/Scripts/custom/Toast.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">Automatic Question Paper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "AdminHomePage")">Admin Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Department")">Department Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Staff")">Staff Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Semester")">Semester Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Course")">Subject Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    @Html.Partial("_NotificationPanel")
    @RenderBody()
    <hr/>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>