@model IEnumerable<AutomatedQuestionPaper.Areas.Staff.Models.ChapterDetails>
@{
    ViewBag.Title = "Chapter details";
    Layout = "~/Areas/Staff/Views/Shared/_staffLoginNavigation.cshtml";
}

<h2>ViewChapters</h2>

@if (TempData["ChapterDetailsEditedSuccessfully"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["ChapterDetailsEditedSuccessfully"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


@if (TempData["ChapterDetailsDeletedSuccessfully"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["ChapterDetailsDeletedSuccessfully"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



@using (Html.BeginForm("GetChapters", "Chapter", FormMethod.Post))
{
    <div>
        <label class="col-form-label">Semester</label>
        <select id="selectedSemester" name="selectedSemester" class="form-control" data-val="true" data-val-required="The semester field is required"></select>
        <span class="field-validation-valid text-danger" data-valmsg-for="selectedSemester" data-valmsg-replace="true"></span>
    </div>

    <div>
        <label class="col-form-label">Department</label>
        <select id="selectedDepartment" name="selectedDepartment" class="form-control" data-val="true" data-val-required="The department field is required"></select>
        <span class="field-validation-valid text-danger" data-valmsg-for="selectedDepartment" data-valmsg-replace="true"></span>
    </div>

    <div>
        <label class="col-form-label">Subject</label>
        <select id="selectedSubject" name="selectedSubject" class="form-control" data-val="true" data-val-required="The subject field is required"></select>
        <span class="field-validation-valid text-danger" data-valmsg-for="selectedSubject" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="form-control btn btn-primary" id="ChapterFormSubmit" name="ChapterFormSubmit" />
    </div>
}

@if (Model != null)
{
    <table class="table table-bordered table-responsive table-hover table-responsive-lg table-striped">
        <tr>
            <th>
                Unit No
            </th>
            <th>
                Chapter No
            </th>
            <th>
                Chapter Name
            </th>
        </tr>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td style="border:1px solid black">
                        @data.UnitNo
                    </td>
                    <td style="border:1px solid black">
                        @data.ChapterNo
                    </td>
                    <td style="border:1px solid black">
                        @data.ChapterName
                    </td>
                    <td style="border: 1px solid black">
                        @Html.ActionLink("Edit", "EditChapterDetails", new { name = data.ChapterName, semester = data.SemesterId, department = data.DepartmentId, subjectId = data.SubjectId }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                        @Html.ActionLink("Delete", "DeleteChapter", new { name = data.ChapterName, semester = data.SemesterId, department  = data.DepartmentId, subjectId = data.SubjectId }, htmlAttributes: new { @class = "btn btn-outline-secondary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            $("#selectedDepartment").prop("disabled", true);
            $("#selectedSubject").prop("disabled", true);
            $("#selectedUnit").prop("disabled", true);

            $.ajax({
                url: '@Url.Action("GetAllocatedSemesters")',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $("#selectedSemester").empty();
                    $("#selectedSemester").append("<option selected disabled>---Select---</option>");
                    for (var i = 0; i < data.length; i++) {
                        $("#selectedSemester").append("<option>" + data[i] + "</option>");
                    }

                    $("#selectedSemester").prop("disabled", false);
                    $("#selectedDepartment").prop("disabled", false);

                },
                error: function(xhr, thrownError) {
                    alert("Something went wrong. \nProblem description -  Error code " + xhr.status + "Message" + thrownError + "");
                }
            });


            $("#selectedSemester").change(function() {
                var sem = $("#selectedSemester option:selected").val();
                $.ajax({
                    url: '@Url.Action("GetAllocatedDepartments")',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        semesterName: sem
                    },

                    success: function(data) {
                        $("#selectedDepartment").empty();
                        $("#selectedDepartment").append("<option selected disabled>---Select---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#selectedDepartment").append("<option>" + data[i] + "</option>");
                        }

                        $("#selectedDepartment").prop("disabled", false);
                        $("#selectedSubject").prop("disabled", false);
                    },
                    error: function(xhr, thrownError) {
                        alert("Something went wrong. \nProblem description -  Error code " + xhr.status + "Message" + thrownError + "");
                    }

                });
            });

            $("#selectedDepartment").change(function() {
                var dept = $("#selectedDepartment option:selected").val();
                var sem = $("#selectedSemester option:selected").val();
                $.ajax({
                    url: '@Url.Action("GetSubjectsList")',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        departmentName: dept,
                        semesterName: sem
                    },
                    success: function(data) {
                        $("#selectedSubject").empty();
                        $("#selectedSubject").append("<option selected disabled>---Select---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#selectedSubject").append("<option>" + data[i] + "</option>");
                        }

                        $("#selectedSubject").prop("disabled", false);
                        $("#selectedUnit").prop("disabled", false);
                    },
                    error: function(xhr, thrownError) {
                        alert("Something went wrong. \nProblem description -  Error code " + xhr.status + "Message" + thrownError + "");
                    }

                });
            });

            $("#ChapterFormSubmit").click(function (e) {


            });


        });
    </script>
}
