@using AutomatedQuestionPaper.Models
@model IEnumerable<AutomatedQuestionPaper.Models.Staff>

@{
    ViewBag.Title = "Staff details";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginNavigation.cshtml";
    WebGrid grid = new WebGrid();
    try
    {
        grid = new WebGrid();
        grid.Bind(Model);
    }
    catch
    {
        if (Model == null)
        {
            grid = new WebGrid();
            var context = new DatabaseContext();
            var data = context.Staffs;
            var list = data.ToList();
            grid.Bind(list);
        }
    }
}

<br />

@if (TempData["StaffDetailsEditedSuccessfully"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["StaffDetailsEditedSuccessfully"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["StaffDetailsEditFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["StaffDetailsEditFailed"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["TeacherDeletedSuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["TeacherDeletedSuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["StaffAddedMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["StaffAddedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h4> Staff details </h4>

<div class="float-right m-2">
    <a href=@Url.Action("TeacherAdd", "Staff") class="btn btn-secondary btn-success">Add</a>
    <a href=@Url.Action("TeacherEdit", "Staff") class="btn btn-secondary btn-warning">Edit</a>
    <a href=@Url.Action("DeleteTeacher", "Staff") class="btn btn-secondary btn-warning">Delete</a>
</div>

<br />
<br />

@grid.GetHtml(tableStyle: "table table-bordered table-striped table-responsive-lg ",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: grid.Columns(
        grid.Column("Id", " Id"),
        grid.Column("name", "Name"),
        grid.Column("surname", "Surname"),
        grid.Column("address", "Address"),
        grid.Column("phone", "Phone Number"),
        grid.Column("email", "Email"),
        grid.Column("password", "Password")
        ))

@Scripts.Render("~/bundles/jquery")
