@using AutomatedQuestionPaper.Models
@model IEnumerable<AutomatedQuestionPaper.Models.Staff>

@{
    ViewBag.Title = "Staff details";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginNavigation.cshtml";
    var grid = new WebGrid();
    try
    {
        grid = new WebGrid();
        grid.Bind(Model);
    }
    catch
    {
        if (Model == null)
        {
            grid = new WebGrid();
            var context = new DatabaseContext();
            var data = context.Staffs;
            var list = data.ToList();
            grid.Bind(list);
        }
    }
}

<br/>

@if (TempData["StaffDetailsEditedSuccessfully"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["StaffDetailsEditedSuccessfully"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["StaffDetailsEditFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["StaffDetailsEditFailed"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["TeacherDeletedSuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["TeacherDeletedSuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["StaffAddedMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["StaffAddedMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h4> Staff details </h4>

<div class="float-right m-2">
    <a href=@Url.Action("TeacherAdd", "Staff") class="btn btn-secondary btn-outline-success">Add</a>
</div>

<br/>
<br/>

@grid.GetHtml("table table-bordered table-striped table-responsive-lg ",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: grid.Columns(
        grid.Column("name", "Name"),
        grid.Column("surname", "Surname"),
        grid.Column("address", "Address"),
        grid.Column("phone", "Phone Number"),
        grid.Column("email", "Email"),
        grid.Column("password", "Password"),
        grid.Column(format: @<text>@Html.ActionLink("Edit", "TeacherEdit", new {id = item.Id}, new {@class = "btn btn-secondary btn-outline-warning"})</text>),
        grid.Column(format: @<text>@Html.ActionLink("Delete", "DeleteTeacher", new {id = item.Id}, new {@class = "btn btn-secondary btn-outline-danger", onclick = "return confirm('Are you sure you wish to delete this article?');"})</text>)
        ))

@Scripts.Render("~/bundles/jquery")