@model AutomatedQuestionPaper.Models.Staff

@{
    ViewBag.Title = "TeacherAdd";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginNavigation.cshtml";
}
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Staff information</h3>
        <hr />

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Name)
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Surname)
                    <div>
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Address)
                    <div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Phone)
                    <div>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Email)
                    <div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    @Html.LabelFor(model => model.Password)
                    <div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}