@using AutomatedQuestionPaper.Models
@model AutomatedQuestionPaper.Models.Course

@{

    ViewBag.Title = "Create subject";
    Layout = "~/Areas/Admin/Views/Shared/_adminLoginNavigation.cshtml";
}

<br />

<h3> Create subject </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col">
            <label class="col-form-label">Department</label>
            <div>
                <select name="departmentList" class="form-control" id="departmentList" required>
                    <option value="" disabled selected>Select your option</option>
                </select>
            </div>
        </div>
        <div class="col">
            <label class="col-form-label">Year</label>
            @Html.DropDownList("Year", EnumHelper.GetSelectList(typeof(YearList)),
                "Select your year", 
                new { @class= "form-control" , @id = "yearList", @name = "yearList" })
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            @Html.LabelFor(model => model.CourseName)
            <div>
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col">
            @Html.LabelFor(model => model.CourseCode)
            <div>
                @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            @Html.LabelFor(model => model.Description)
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <input type="submit" value="Create" class="btn btn-block btn-outline-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function() {

            $("#Year option:first").attr("disabled", "true");


            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepartmentJsonList","Department")',
                success: function (data) {

                    $.each(data,
                        (i, item) => {
                            $("#departmentList").append($("<option></option>")
                                .attr("value", item.DepartmentName)
                                .text(item.DepartmentName));
                        });

                }
            });


        });
    </script>

}