@using AutomatedQuestionPaper.Models
@model IEnumerable<AutomatedQuestionPaper.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> departments = ViewBag.DepartmentList;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <select name="DepartmentList" class="form-control" id="DepartmentList" required>
                <option>----</option>
                @foreach (var department in departments)
                {
                    <option value="@department.department">@department.department</option>
                }
            </select>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.department)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
